/* Style specific for listings.html */
fieldset {
    min-width: 200px;
    max-width: 600px;
    height: 92%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-color: #666;
}

#containerA {
    text-align: center;
    background-color: #161616;
    border: 2px solid #262626;
    border-width: 2px 0 2px 0;
}

.listitem {
    display: flex;
    padding: 12px 30px 12px 30px;
    justify-content: center;
}

#DownUnder {
    text-align: center;
}

#googlemaps {
    margin: 12px;
}

hr {
    border-color: rgb(78, 78, 78);
    width: 50%;
}

legend {
    font-size: 16pt;
}

h1 {
    text-align: center;
    margin-top: 24px;
}

h2 { margin: 16px 0 16px 0; }

.flashy {
    border-radius: 12px;
    max-height: 300px;
    width: auto;
    margin-right: 10px;
    border: 2px solid #262626;
    transition: 0.2s all ease-out;
}

img:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px 0 #000000;
    border: 2px solid #888;
}

.pricetag {
    color: green;
    text-align: center;
}

p {
    text-align: center;
}

.itemcontainer {
    margin: 0;
}

/* credit where credit is due: https://stackoverflow.com/questions/23547691/two-legends-in-a-fieldset */
.legend2 {
    position: absolute;
    top: -1.3em;
    right: 20px;
    padding: 0 4px 0 4px;
    margin: 0;
    background: #161616;
}
